extends ../layouts/common


block content

  .row
    .col-lg-4.pr-lg-5
      h3 Tài khoản của tôi
      h5.mt-3.pl-1
        | Mã gia sư :  
        span.text-success= tutor.id 
    .col-lg-8.mt-5.mt-lg-4

      if mes
        .alert.alert-success.fade.in.alert-dismissible.show(style='margin-top:18px;')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true', style='font-size:20px') &times;
          span=mes

      h5.mb-4 Thông tin cơ bản
      form(method='POST', action='/myaccount/profile', novalidate='')
        .row
          .col-md-4.form-group
            label.font-weight-bold Tên: 
            input.form-control(type='text', name='name', value=tutor.name, autocomplete='off', maxlength='50')
          .col-md-3.form-group.mt-1.mt-md-0
            label.font-weight-bold Điện thoại:
            .form-control-wrap
              input.form-control(type='tel', name='phone', value=tutor.phone, autocomplete='off', maxlength='15')
            
          .col-md-5.form-group.mt-1.mt-md-0
            label.font-weight-bold Email:
            .form-control-verified
              input.form-control(type='email', name='email', value=tutor.email, autocomplete='off', readonly='', maxlength='100')
          .col-md-3.form-group
            label.font-weight-bold Giới tính 
            input.form-control(type='text', name='gioitinh', value=tutor.gioitinh, autocomplete='off', maxlength='50') 
              
          .col-md-3.form-group
            label.font-weight-bold Năm sinh 
            input.form-control(type='text', name='namsinh', value=tutor.namsinh, autocomplete='off', maxlength='50') 
              

        h5.mt-4 Học vấn (Đại học, cao đẳng):
        .row.mt-4
          .col-md-6.form-group
            label.font-weight-bold T&ecirc;n tr&#x1B0;&#x1EDD;ng h&#x1ECD;c:
            input.form-control(type='text', name='truong', value=tutor.truong, autocomplete='off', maxlength='250')
          .col-md-6.form-group.mt-2.mt-md-0
            label.font-weight-bold Ng&agrave;nh h&#x1ECD;c:
            input.form-control(type='text', name='nganh', value=tutor.nganh, autocomplete='off', maxlength='250') 

        .text-right
          input.btn.btn-primary.mt-3.font-weight-bold(type='submit', value='Cập nhật ngay ')
        .mt-3
          a.btn.btn-outline-dark(href='/danh-sach-lop-moi') Xem danh sách lớp mới 


      
        